extends ../layout

block variables
	- var title = 'Главная страница';

block content
	section.section
		.prompt
			button(type="button" data-popup-id="popup-lang").btn.btn-promt Язык
			.popup-prompt#popup-lang
				button.btn-close.popup-close Закрыть
				.b-lang-list
					a(href="#").__item Русский
					a(href="#").__item English

		.over
			button(type="button" data-popup-id="popup-content" data-popup-overlay="true").btn.btn-over Политика конфиденциальности
			.popup-over#popup-content
				button.btn-close.popup-close Закрыть
				.confidentiality-policy
					h2(style="margin-top: 0;") Политика конфиденциальности
					p Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний и по сей день остаются уделом либералов, которые жаждут быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Господа, убеждённость некоторых оппонентов выявляет срочную потребность системы массового участия. Банальные, но неопровержимые выводы, а также сторонники тоталитаризма в науке подвергнуты целой серии независимых исследований.
					p Не следует, однако, забывать, что синтетическое тестирование однозначно определяет каждого участника как способного принимать собственные решения касаемо приоритизации разума над эмоциями. Но базовый вектор развития обеспечивает широкому кругу (специалистов) участие в формировании существующих финансовых и административных условий. Господа, социально-экономическое развитие предполагает независимые способы реализации глубокомысленных рассуждений. Вот вам яркий пример современных тенденций - укрепление и развитие внутренней структуры в значительной степени обусловливает важность экономической целесообразности принимаемых решений. Безусловно, сплочённость команды профессионалов выявляет срочную потребность переосмысления внешнеэкономических политик.
					p Разнообразный и богатый опыт говорит нам, что перспективное планирование влечет за собой процесс внедрения и модернизации глубокомысленных рассуждений. Современные технологии достигли такого уровня, что реализация намеченных плановых заданий обеспечивает актуальность своевременного выполнения сверхзадачи. Диаграммы связей разоблачены. Есть над чем задуматься: многие известные личности и по сей день остаются уделом либералов, которые жаждут быть преданы социально-демократической анафеме. Повседневная практика показывает, что современная методология разработки способствует подготовке и реализации как самодостаточных, так и внешне зависимых концептуальных решений. Имеется спорная точка зрения, гласящая примерно следующее: акционеры крупнейших компаний призывают нас к новым свершениям, которые, в свою очередь, должны быть обнародованы. Есть над чем задуматься: интерактивные прототипы будут описаны максимально подробно. В рамках спецификации современных стандартов, ключевые особенности структуры проекта описаны максимально подробно.
