.prompt {
	position: relative;
	margin-bottom: 20px;
}

.lang-list {
	min-width: 100px;

	&__item {
		display: block;
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;
		margin-bottom: 5px;
		color: black;
		max-width: max-content;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			color: darkseagreen;
		}

		&__active {
			color: darkseagreen;
		}
	}
}

.confidentiality-policy {
	overflow: auto;
	height: 100%;

	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}
}
