.btn {
	display: block;
	width: 100%;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 16px;
	color: white;
	background-color: dodgerblue;
	border-radius: 5px;

	&:hover {
		background-color: steelblue;
	}

	&.popup-btn{
		&_show {
			background-color: firebrick;

			&:hover {
				background-color: firebrick;
			}
		}
	}
}
